.d3-tip {
    font-size: 12px;
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none!important;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

h2 {
    font-size: 28px;
    font-family: Courier;
    margin-left: 30px;
}


.bar-choice {
    font-family: "Comic Sans MS";
    font-size: 16px;
    padding-bottom: 2px;
}

#station {
    width: 50%;
}

#freq-cat {
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 3px;
}

#data-freq {
    margin-right: 3px;
}

#notation {
    font-size: 12px;
    margin-left: 30px;
}

#change-sorting {
    font-size: 14px;
    margin-left: 30px;
}

.title {
    font-size: 14px;
    font-family: Courier;
}

#unavailable {
    font-size: 18px;
    font-family: Arial;
    margin: 50px 30px 50px 30px;
}

#trip-summary {
    font-size: 18px;
    font-family: Arial;
    margin: 50px 70px 0 5px;
}