#drop-down{
    font-family: Verdana;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    height: 80px;
}


#space{
    font-family: Verdana;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    height: 80px;
}

#chord-summary {
    font-size: 15px;
}



.d3-tip-chord {
    font-size: 12px;
    line-height: 1.5;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #bee5eb;
    border-radius: 2px;
    pointer-events: none!important;
    position: relative;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip-chord:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip-chord.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}