nav {
  margin-bottom: 10vh;
}

header,
section {
  height: 100vh;
}

.row, .container-fluid {
  height: 100%;
}

#map-area {
  height: 100%;
}

table td:nth-child(1) {
  font-weight: bold;
  width: 200px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(228,228,228);
}

::-webkit-scrollbar-thumb {
  background: rgb(192,192,192);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(128,128,128);
}